extends layout

block content
  div.main_part
    header.header
      h1 Budżet domowników

    nav.left_bar
      ul.menu
        li#main
          a(href='http://localhost:3000/') Strona główna
        li#faktury
          a(href='http://localhost:3000/rachunki') Rachunki
        li#dodaj_rachunek
          a(href='http://localhost:3000/rachunki/send_data') Dodaj rachunek

    div.main_article
      h2 Dodaj rachunek

      form(action='/rachunki/dodaj', method='POST')
        p.form_option Opis rachunku:
        p
          input(name= 'opis', value='', type='varchar(300)')
        p.form_option Kwota:
        p
          input(name= 'kwota', value='', type='double')
        p.form_option Imie:
        p
          input(name= 'imie', value='', type='text')
        p.form_option Nazwisko:
        p
          input(name= 'nazwisko', value='', type='text')
        p.form_option Miesiąc:
        p
          input(name= 'miesiac', value='', type='text')

        p.submit
          input(value="Dodaj", type='submit')

      p= info

  footer
    p &copy;2020	Daniel Wielgosz
