extends layout

block content
  header.header
    h1 Budżet domowników

  nav.left_bar
    ul.menu
      li#main
        a(href='http://localhost:3000/') Strona główna
      li#faktury
        a(href='http://localhost:3000/rachunki') Rachunki
      li#dodaj_rachunek
        a(href='http://localhost:3000/rachunki/send_data') Dodaj rachunek

  div.main_article
    h2 Dodaj rachunek

    form(action='/rachunki/dodaj', method='POST')
      p Opis rachunku:
        input(name= 'opis', value='', type='text')
      p Kwota:
        input(name= 'kwota', value='', type='double')
      p Imie:
        input(name= 'imie', value='', type='text')
      p Nazwisko:
        input(name= 'nazwisko', value='', type='text')
      p Miesiąc:
        input(name= 'miesiac', value='', type='text')

      p
        input(value="Dodaj", type='submit')

    p= info

  footer.footer
    p &copy;2020	Daniel Wielgosz
