extends layout

block content
  header.header
    h1 Budżet domowników

  div.main_site
    nav.left_bar
      ul.menu
        li#main
          a(href='http://localhost:3000/') Strona główna
        li#faktury
          a(href='http://localhost:3000/wydatki') Faktury
        li#dodaj_rachunek
          a(href='http://localhost:3000/wydatki/dodaj') Dodaj rachunek
