extends layout

block content
  header.header
    h1 Budżet domowników

  div.main_site
    nav.left_bar
      ul.menu
        li#main Strona główna
        li#faktury Faktury
        li#dodaj_rachunek Dodaj rachunek
