
body {
    background-color: #444d4e;
    margin: 0;
    padding: 0;
}

.website #main_site {
    width: 90%;
    margin: 20px auto;
}

.website #header {
    background-image: url("mountains.jpg");
    background-size: 100% 250%;
    padding: 0 0 0 0;
    margin: 3px 3px 3px 3px;
    height: auto;
    border: 7px solid #051453;
    border-radius: 20px 20px 20px 20px;
}

.website #header h1 {
    word-wrap: break-word;
    padding: 10px 10px;
    margin: 10px;
    text-align: center;
    text-shadow: black 5px 2px 2px;
    font-family: Cambria,serif;
    font-weight: bold;
    letter-spacing: 10px;
    color: #e21111;
    font-size: 70px;
}

.website #main_part {
    word-wrap: break-word;
    padding: 2px 0 0 0;
}

.website #main_part #left_sidebar {
    background-color: #001452;
    border: 7px solid crimson;
    margin: 3px 3px 3px 3px;
    border-radius: 20px 20px 20px 20px;
}

.left_image {
    display: none;
}

.menu {
    list-style: none;
    font-size: large;
    text-align: center;
    padding: 0;
}

.menu li {
    background-color: crimson;
    border: 5px solid white;
    margin: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px;
}

.menu a {
    display: block;
    font-size: 30px;
    font-weight: bold;
    padding: 2% 0 2% 0;
    color: white;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
}

.menu a:hover {
    background-color: coral;
    color: #051453;
    letter-spacing: 5px;
    border-radius: 15px 15px 15px 15px;
}

.website #main_part #main_article {
    color: #050000;
    border: 7px solid #051453;
    border-radius: 20px 20px 20px 20px;
    background-color: #90aed2;
    margin: 5px 0 5px 0;
    padding: 0 20px 20px 20px;
    height: auto;
    font-size: xx-large;
}

.website #main_part #main_article h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 0 0 20px 0 ;
    border-bottom: 4px solid #051453;
}

#main_article figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img {
    height: 80%;
    width: 80%;
    border: 7px solid crimson;
    border-radius: 20px 20px 20px 20px;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 25px;
}

.website #footer {
    height: auto;
    background-color: #d2d3dc;
    border-radius: 15px 15px 15px 15px;
    border: 7px solid #051453;
    padding: 0;
}

.website #footer p {
    padding: 0 0 0 20px;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    margin: 1% 0 1% 0 ;
}

#main_article .pictures figcaption {
    width: 80%;
    margin: 30px auto;
    max-width: 500px;
}

#main_article .two_pictures {
}

#main_article #center{
    width: 80%;
    position: center;
}

#main_article #left {
    width: 80%;
}

#main_article #right {
    width: 70%;
}

#main_article .contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    word-wrap: break-word;
    text-align: center;
    padding: 5px 3px 5px 3px;
    width: 100%;
}

#main_article .contact #phone {
    width: 90%;
    background-color: #d5d6de;
    border: 5px solid crimson;
    border-radius: 20px 20px 20px 20px;
    margin: 10px 0 10px 0;
}

#main_article .contact #mail {

    width: 90%;
    background-color: #d5d6de;
    border: 5px solid crimson;
    border-radius: 20px 20px 20px 20px;
    margin: 10px 0 10px 0;

}

#main_article .contact #adress {

    width: 90%;
    background-color: #d5d6de;
    border: 5px solid crimson;
    border-radius: 20px 20px 20px 20px;
    margin: 10px 0 10px 0;

}

#main_article .contact h2 {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    position: center;
    border-bottom: 3px solid black;
}

#main_article .contact a {
    display: block;
    padding-bottom: 8%;
    font-size: 40px;
    text-decoration: none;
}

#main_article .contact p {
    font-size: 40px;
}